/*This is the style of the body of htmal page*/

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*book container styling*/

.book {
    display: flex;
    width: 900px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

/* LEFT SIDE */

.left-page {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.col1 { background: #c94cc9; }
.col2 { background: #29b6f6; }
.col3 { background: #66bb6a; }
.col4 { background: #ffa726; }
.col5 { background: #ef5350; }

.column h3 {
    margin-bottom: 20px;
    font-size: 18px;
}

.column button {
    background: white;
    border: none;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.column button:hover {
    background: #eee;
}

/* RIGHT SIDE */

.right-page {
    flex: 1;
    background: #ffeb3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.purple { background: #c94cc9; }
.blue { background: #29b6f6; }
.green { background: #66bb6a; }
.orange { background: #ffa726; }
.pink { background: #ef5350; }

.speaker {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    background: repeating-linear-gradient(
        to bottom,
        #d4c200,
        #d4c200 4px,
        #f5d800 4px,
        #f5d800 8px
    );
    margin-bottom: 20px;
}

.generate-btn {
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.generate-btn:hover {
    background: darkred;
}

.story-output {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.generate-btn {
    margin: 5px;
}

